<a href="https://colab.research.google.com/github/IbazanS/Platzi/blob/main/Curso_de_Manipulaci%C3%B3n_y_An%C3%A1lisis_de_datos_con_Pandas_y_Python_Clase_2_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Series e indexación y selección de datos

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Este elemento cuenta con una columna de indexación
pd.Series([10, 9, 8, 7, 6])

0    10
1     9
2     8
3     7
4     6
dtype: int64

In [ ]:
#Defino una variable llamada sr
sr = pd.Series([10, 9,8, 7, 6, 5])

In [ ]:
sr

0    10
1     9
2     8
3     7
4     6
5     5
dtype: int64

In [ ]:
#con . veo las propiedades
sr.values

array([10,  9,  8,  7,  6,  5])

In [ ]:
#Con index tengo el rango del objeto, va del 0 al elemento 6.
sr.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
sr.shape

(6,)

In [ ]:
#Si se quiere llamar 1 elemento debo hacerlo con []
sr[3] # acpa tengo el elemento en 7.

7

In [ ]:
sr[[0, 2, 4]]

0    10
2     8
4     6
dtype: int64

In [ ]:
sr = pd.Series([10, 9, 8, 7, 6], index=['a', 'b', 'c', 'd', 'e'])
sr

a    10
b     9
c     8
d     7
e     6
dtype: int64

In [ ]:
sr['c']

8

In [ ]:
sr[['c', 'd', 'e']]

c    8
d    7
e    6
dtype: int64

In [ ]:
#Pedir un rango
sr['b':'e']

b    9
c    8
d    7
e    6
dtype: int64

**Diccionario:** permite almacenar una cadena de cualquier tipo de valor

Se define con {}

En el ejemplo siguiente haremos un diccionario donde las llaves serán los países.

In [ ]:
#Defino mi diccionario dict_data
dict_data={'CO':100, 'MX': 300, 'CHI': 200} #Tengo ciertos elementos asociados a unas llaves (países)

In [ ]:
dict_data.keys()

dict_keys(['CO', 'MX', 'CHI'])

In [ ]:
dict_data['MX']

300

Diccionario y listas son parecidos.
Al descargar datos de páginas vienen en formato JSON.

In [ ]:
#Puedo transformar mi diccionario en una variable de pandas:
pd.Series(dict_data)

CO     100
MX     300
CHI    200
dtype: int64

In [ ]:
pd.Series(dict_data, index=['CO', 'MX', 'CHI', 'PE'])

CO     100.0
MX     300.0
CHI    200.0
PE       NaN
dtype: float64

In [ ]:
#nan: objeto nulo que también cumple operaciones matemáticas.
np.nan + 10

nan

In [ ]:
#Cualquier operación numérica que se haga con una variable nula dará una var nula
sr = pd.Series(dict_data, index=['CO', 'MX', 'CHI', 'PE'])

In [ ]:
sr

CO     100.0
MX     300.0
CHI    200.0
PE       NaN
dtype: float64

In [ ]:
sr.isnull()

CO     False
MX     False
CHI    False
PE      True
dtype: bool

In [ ]:
sr.notnull()

CO      True
MX      True
CHI     True
PE     False
dtype: bool