<a href="https://colab.research.google.com/github/IbazanS/Platzi/blob/main/Curso_de_Manipulaci%C3%B3n_y_An%C3%A1lisis_de_datos_con_Pandas_y_Python_Clase_4_ipynb_ipynb_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Indexado y manejo de archovs CSV**

In [20]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [21]:
%cd'/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/MyDrive/Colab Notebooks
'Curso de Manipulación y Análisis de datos con Pandas y Python-Clase 1.ipynb'
'Curso de Manipulación y Análisis de datos con Pandas y Python-Clase 2.ipynb.ipynb'
'Curso de Manipulación y Análisis de datos con Pandas y Python-Clase 3.ipynb.ipynb.ipynb'
'Curso de Manipulación y Análisis de datos con Pandas y Python-Clase 4.ipynb.ipynb.ipynb.ipynb'
 db

Como trabajar con variables tipo texto

In [22]:
'Hola{}'.format('blabla')

'Holablabla'

In [23]:
#creo una carpeta
!mkdir db

mkdir: cannot create directory ‘db’: File exists

In [25]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')

In [26]:
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [29]:
dict_data = {
    'edad':[10, 9, 13, 14, 12, 11, 12],
    'cm': [115, 110, 130, 155, 125, 120, 125],
    'pais':['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1': [5, 10, 8, np.nan, 7, 8, 3],
    'Q2': [7, 9,9,8,8,8,9]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [32]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [33]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [39]:
df.to_csv(dir_pandas, index=False)

In [40]:
#Ahora validamos
!ls '/content/drive/My Drive/Colab Notebooks/db'

test.csv

In [41]:
#Leo el archivo
df_read = pd.read_csv(dir_pandas)
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [42]:
df.to_csv(dir_pandas, sep='|', index=False)

In [46]:
df_read = pd.read_csv(dir_pandas)
df_read

  edad|cm|pais|genero|Q1|Q2
0         10|115|co|M|5.0|7
1         9|110|mx|F|10.0|9
2         13|130|co|F|8.0|9
3            14|155|mx|M||8
4         12|125|mx|M|7.0|8
5         11|120|ch|M|8.0|8
6         12|125|ch|F|3.0|9

In [47]:
df_read = pd.read_csv(dir_pandas, sep='|')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

LISTO!